body {
    background-color: skyblue;
}

body {
    /* background: url('../images/background.jpg');*/
    background-size: cover;
}

header,
nav {
    margin: 0 auto;
    max-width: 1200px;
    height: 200px;
}

h1 {
    border-bottom: 4px double #ccc;
}

body {
    background-color: #eee;
    font-size: 2em;
}

main {
    margin: 0 auto;
    max-width: 800px;
    background-color: #eee;
}

input {
    font-size: 1em;
}

h1 {
    border-bottom: 4px double green;
}

.die {
    font-size: 2em;
}

.dice {
    font-size: 3em;
    display: inline;
    padding: 0;
}

.dice li {
    list-style: none;
    display: inline;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}
